Language: Cpp
BasedOnStyle: Google
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

# Indentation
IndentWidth: 4
ColumnLimit: 100
TabWidth: 4
UseTab: Never

# Spaces in parentheses
SpacesInParentheses: true

# Brace formatting
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  BeforeElse: false
  SplitEmptyFunction: true

# Spaces around operators and parentheses
SpaceBeforeParens: Never
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInContainerLiterals: true

PointerAlignment: Left

SortIncludes: true

Standard: Latest
